[Unit]
Description=Buddy Voice Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/binary-god/Buddy-OS/buddy-voice
ExecStart=/usr/bin/python3 /home/binary-god/Buddy-OS/buddy-voice/buddy_voice.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
