[Unit]
Description=Buddy Voice Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/share/buddy-os/buddy-voice
ExecStart=/usr/bin/python3 /usr/share/buddy-os/buddy-voice/buddy_voice.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
